* {
    background: transparent !important;

}

body {
    background-image: url(./photo-1551098955-f124915c1ff3.jpg) !important;
    background-size: cover !important;
    min-height: 100vh;

}

.container {
    display: flex;
    border: 1px solid black;

}

.currentDay {
    margin: auto;
    background: transparent;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 600px;

}

.dayIcon1 {
    width: 300px;

}